$colors: (
	background: rgba(13, 15, 17, 1),
	black: rgba(23, 25, 27, 1),
	white: rgba(240, 240, 240, 1),
	grey: rgba(127, 127, 127, 1),
	darkgrey: rgba(97, 97, 97, 1),
	muted: rgb(39, 39, 42),
);

$spacings: (
	small: 3,
	half: 6,
	one: 12,
	two: 16,
	three: 24,
);
