@use "../mixins/bootstrap" as *;

sol-carousel {
	@include flex;
	width: 100%;

	overflow: hidden;

	sol-carousel-items {
		@include flex;
		justify-content: start;
		gap: rem(get($spacings, two));

		width: 100%;

		overflow-x: visible;

		sol-carousel-item {
			@include flex;

			width: clamp(
				min(rem(300), 100%),
				calc(33% - rem(get($spacings, two))),
				rem(500)
			);

			height: rem(240);

			border: rem(1) solid get($colors, darkgrey);
			border-radius: rem(12);

			position: relative;

			* {
				user-select: none;
			}

			.img-holder {
				@include flex;
				height: 100%;
				width: 100%;

				position: absolute;

				padding: rem(get($spacings, one));

				z-index: -1;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
